.Button{
    background:#ff6600;
    color:#fff;
    border:0;
    padding:5px 10px;
    border-radius:4px;
}

.Button:focus{
    border:none;
    outline:none;
}

.ButtonActive {
   composes: Button;
   background:mistyrose;
   color:#000;
}