@import '../../styles/global.scss';

.Button {
    background: $baseBlue;
    color: #fff;
    border: 0;
    padding: 10px 20px;
   @include bor-rad;
    @include pointer;

    &:focus{
        border: none;
        outline: none;
    }
}

.ButtonLightest {
  //  composes: Button;
    background: $lightestBlue;
    color: $darkBlue;
}
.ButtonLighter {
 //   composes: Button;
    background: $lighterBlue;
}
.ButtonLight {
 //   composes: Button;
    background: $lightBlue;
}
.ButtonBase {
 //   composes: Button;
    background: $baseBlue;
}
.ButtonDark {
 //   composes: Button;
    background: $darkBlue;
}
.ButtonDarker {
  //  composes: Button;
    background: $darkerBlue;
}

.ButtonDarkest {
  //  composes: Button;
    background: $darkestBlue;
}

.ButtonActive {
  //  composes: Button;
    background: mistyrose;
    color: #000;
}
