.Button {
    background: #3490dc;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.Button:focus {
    border: none;
    outline: none;
}

.ButtonLightest {
    composes: Button;
    background: #eff8ff;
    color: #12283a;
}
.ButtonLightest {
    composes: Button;
    background: #eff8ff;
}
.ButtonLighter {
    composes: Button;
    background: #bcdefa;
}
.ButtonLight {
    composes: Button;
    background: #6cb2eb;
}
.ButtonBase {
    composes: Button;
    background: #3490dc;
}
.ButtonDark {
    composes: Button;
    background: #2779bd;
}
.ButtonDarker {
    composes: Button;
    background: #1c3d5a;
}

.ButtonDarkest {
    composes: Button;
    background: #12283a;
}

.ButtonActive {
    composes: Button;
    background: mistyrose;
    color: #000;
}
