// Primary Palette


$green: #064e37;
$greenDark: #043e27;
$greenLight: #2ea836;
$yellow: #fcbc00;
$greyDark: #686c6f;
$grey:  #e3e6e5;
$black:  #00020f;

// Secondary Palette

$aubergine: #530b42;
$grape: #7e1b70;
$raspberry: #b32965;
$blueberry: #006ab4;
$sky: #71a3d8;
$sea: #7ccef3;
$strawberry: #d70926;
$tomato: #e73b2b;
$salmon: #ec644a;
$orange: #ef7b05;
$curry: #bb9c00;
$custard:#ffe554;
$cheese: #fbde81;
$freshLime:#8abd24;
$thaiGreen:#d3d800;
$laurel: #b8d288;
$mint:  #f2f6e2;
$chocolate: #5a2916;
$toffee: #a7674c;
$cocoa: #ab806e;
$cream: #faf6e7;
$mushroom:#ded3a8

