:root {
--lightBlue : #eff8ff;
--lightestBlue:#eff8ff;
--lighterBlue:#bcdefa;
--lightBlue:#6cb2eb;
--baseBlue: #3490dc;
--darkBlue:#2779bd;
--darkerBlue: #1c3d5a;
--darkestBlue:  #12283a;
--pointer: {
    cursor:pointer;
}

--bor-rad: {
    border-radius:4px;
}

}


