// .Wrapper{
//     padding-top:20px;
//     display: flex; 
//     justify-content:center;
//     align-items: center;
//     flex-direction:column;

//     @media (min-width: 600px) {
//         flex-direction:row;
//         flex-wrap:wrap;
//     }


// }

// .Wrapper > div{
//     display: flex; 
//     flex-direction:column;
//     & div {
//         display:block;
//         padding:10px 0;
//     }
// }

.Wrapper{
    padding-top:20px;
    width:100%;
    display:inline-block; 
  text-align:center;

    @media (min-width: 600px) {
        flex-direction:row;
        flex-wrap:wrap;
    }
}

.WrapperLeft {
    composes: Wrapper;
    text-align:left;
}

.Wrapper > div{
    display:block;
  //  padding:10px 0;

    & div {
        display:block;
 
        margin:10px;
     
    }
}
