
.Wrapper{
    padding-top:20px;
    width:100%;
    display:inline-block; 
  text-align:center;

    @media (min-width: 600px) {
        flex-direction:row;
        flex-wrap:wrap;
    }
}

.WrapperLeft {
    composes: Wrapper;
    text-align:left;
}

.WrapperSmall {
    composes: Wrapper;
    display:block;
    margin:0 auto;
    max-width:900px;
}

.Wrapper > div{
    display:block;


    & div {
        display:block;
 
        margin:10px;
     
    }
}
